@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel


@{
    ViewData["Title"] = "登录";
    Layout = "~/Views/Shared/_LoginPartialSbAdmin2.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewData["Title"]</h3>
                </div>
                <div class="panel-body">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input asp-for="UserName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.UserName)" autofocus />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)" value="" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <div asp-validation-summary="All" class="form-group text-danger"></div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">登录</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}