@model IEnumerable<RCKohi.Models.Demo.Anime>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "动画作品";
    Layout = "~/Views/Shared/_LayoutSbAdmin2.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">作品列表</div>
            <div class="panel-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <form asp-action="Index" method="get" role="form">
                                <div class="form-group input-group">
                                    <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" placeholder="搜索..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" value="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Name)</a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.Number)</a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.BroadcastDate)</a>
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IndexShow)
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Number)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BroadcastDate)
                                            </td>
                                            <td>
                                                @string.Format("{0}", @Html.DisplayTextFor(modelItem => item.IndexShow).ToString() == "True" ? "是" : "否")
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class="fa fa-edit"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="bottom" title="查看"><i class="far fa-file-alt"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, sortOrder = ViewData["SortOrder"], searchString = ViewData["CurrentFilter"] }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>